::-moz-selection, ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #eef;
}

.main {
    display: grid;
    height: 100vh;
    max-width: calc(400px + 120vh);
    grid-auto-columns: 400px 1fr;
}

/*INTRO*/
.linktostrips {
    padding: 2em;
}

.linktostrips a{
    padding: 1em;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: black;
    width: 60%;
    border-radius: 2px;
    display: block;
    margin: 1em;
}

/*EDITOR*/

.editorcolumn {
    padding: 0.4em;
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
}

.ace {
    position: relative;
}

h3 {margin: 0; padding:0;}

select, input, button {
    font-family: 'Open Sans';
    vertical-align: top;
}

.menu select {
    height: 29px;
}

.menu button  {
    height: 30px;
}

.output {
    min-height: 4em;
    max-height: 50vh;
    background-color: #333;
    overflow-x: auto;
}

.output .log {
    color: white;
    padding: 0.1em 1em;
}

.output .error {
    color: rgb(255,180, 180);
    background-color: rgb(100,20,20);
    padding: 0.2em 1em;
}

.output .warn {
    color: rgb(255,255, 180);
    background-color: rgb(40,40,10);
    padding: 0.2em 1em;
}


.result {
    grid-column: 2;
    max-width: 130vh;
    background-color: #000;
}

/*LEDSIM*/
.vitrine {
    position: relative;
    font-size: 2vh;
}

.vitrine__img {
    width: 100%;
    height: auto;
    opacity: 0.33;
}

.led {
    margin: -0.1em -0.1em;
    position: absolute;
    width: 0.2em;
    height: 0.2em;
    border-radius: 0.1em;
    transform-origin: 50% 50%;
}

.led.back {
    transform: scale(1.2);
}