/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  height: 100%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */
}    

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 99%;
  height: calc(100% - 4px); /* ANZEIGENBEREICH AUF 98%, AceEditor macht 102% */
  background-color: #000;
}


#editorHead {
  font-weight: bold;
  font-size: 1.2em;
  background-color: #808aaa;
  color: white;
}

#editorHead, #anmelden, #menuDiv {
  padding: 2px 10px;
}

#codearea {
  width: 500px;
  background-color: #b0bddd;
  min-height: 100%; /* Mindesthöhe für moderne Browser */
  height:auto !important; /* Important Regel für moderne Browser */
  height:100%; /* Mindesthöhe für den IE */
  overflow: hidden !important; /* FF Scroll-leiste */
  display: block;
  float: left;
}
#all-editor {
  /* nicht ändern, sonst läuft es nicht... unten im JS ändern*/
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#sim-editor {
  /* nicht ändern, sonst läuft es nicht... unten im JS ändern*/
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#output {
  height: 100%;
  border: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

button{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  border-radius: 5px;
  background-image: linear-gradient(bottom, rgb(160,170,200) 0%, rgb(235,239,245) 93%);
  background-image: -o-linear-gradient(bottom, rgb(160,170,200) 0%, rgb(235,239,245) 93%);
  background-image: -moz-linear-gradient(bottom, rgb(160,170,200) 0%, rgb(235,239,245) 93%);
  background-image: -webkit-linear-gradient(bottom, rgb(160,170,200) 0%, rgb(235,239,245) 93%);
  background-image: -ms-linear-gradient(bottom, rgb(160,170,200) 0%, rgb(235,239,245) 93%);       
}

button.pressed {
  border-style:inset;
  background-image: linear-gradient(bottom, rgb(144,163,180) 0%, rgb(212,215,220) 93%);
  background-image: -o-linear-gradient(bottom, rgb(144,163,180) 0%, rgb(212,215,220) 93%);
  background-image: -moz-linear-gradient(bottom, rgb(144,163,180) 0%, rgb(212,215,220) 93%);
  background-image: -webkit-linear-gradient(bottom, rgb(144,163,180) 0%, rgb(212,215,220) 93%);
  background-image: -ms-linear-gradient(bottom, rgb(160,170,200) 0%, rgb(235,239,245) 93%); 
}

select, input {
  font-family: 'Open Sans';
  border-radius: 5px;
}

#menuDiv select {
  height: 29px;
  vertical-align: top;
}

#menuDiv button  {
  height: 30px;
}

.leftMenu {
  display: inline-block;
  width: 150px;
}

#Name, #PW {
  width: 15ex;
}

a.abmelden {
  text-decoration: none;
  color: #fff;
  float: right;
  font-size: 60%;
  vertical-align: text-bottom;
}















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}