.templ {
  display: none !important; }

.item {
  margin: 2.2px;
  padding: 0.3em;
  background-color: #b3c7e6;
  display: flex;
  align-items: flex-start; }

.itemValueArea {
  display: flex;
  align-items: flex-start;
  flex-grow: 1; }

.item .title {
  color: inherit;
  margin-left: 0.4em; }

.editableInput, .itemvalue, .historyItem {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

.item.edit {
  background-color: #d9e3f2; }

.item button {
  margin: 0 0.2em; }

.editItemForm {
  display: flex;
  flex-grow: 1; }

.editform__keyDescriber {
  display: inline-block;
  min-width: 20%; }

.editform__valueDescriber {
  flex-grow: 1;
  background-color: white;
  border: solid 2px #b3c7e6;
  padding: 0 0.5em; }

.item.pending {
  background-color: #ebadad; }

.itemvalue {
  flex-grow: 1; }

.checkbox {
  height: 1.7em;
  width: 1.7em;
  background-color: rgba(255, 255, 255, 0.6);
  background-clip: content-box;
  vertical-align: text-bottom;
  text-align: center; }

.checkbox > .icon-check {
  font-size: 1.7em;
  display: none; }

.checked > .checkbox > .icon-check {
  display: inline-block; }

.checkbox.checked > .icon-check {
  display: inline-block; }

/*shelf*/
.shelfheader {
  background-color: #4073bf;
  padding: 0.3em; }

.checkedArea {
  padding: 0.6em 0.3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .checkedArea input {
    max-width: 30vw; }
  .checkedArea.hasSelectedItems {
    outline: 3px solid #799dd2 20; }

.checkedArea > * {
  margin-right: 1em; }

/*tree*/
.treediv .treediv {
  padding-left: 1em; }

.treediv.depth1 > .tree--item {
  background-color: rgba(191, 223, 255, 0.8); }

.treediv.depth2 > .tree--item {
  background-color: rgba(191, 223, 255, 0.64); }

.treediv.depth3 > .tree--item {
  background-color: rgba(191, 223, 255, 0.512); }

.treediv.depth4 > .tree--item {
  background-color: rgba(191, 223, 255, 0.4096); }

.treediv.depth5 > .tree--item {
  background-color: rgba(191, 223, 255, 0.32768); }

.treediv.depth6 > .tree--item {
  background-color: rgba(191, 223, 255, 0.262144); }

.treediv.depth7 > .tree--item {
  background-color: rgba(191, 223, 255, 0.209715); }

.treediv.depth8 > .tree--item {
  background-color: rgba(191, 223, 255, 0.167772); }

.treediv.depth9 > .tree--item {
  background-color: rgba(191, 223, 255, 0.134218); }

.treediv.depth10 > .tree--item {
  background-color: rgba(191, 223, 255, 0.107374); }

.treediv.depth11 > .tree--item {
  background-color: rgba(191, 223, 255, 0.0858993); }

.treediv.depth12 > .tree--item {
  background-color: rgba(191, 223, 255, 0.0687195); }

.treediv.depth13 > .tree--item {
  background-color: rgba(191, 223, 255, 0.0549756); }

.treediv.depth14 > .tree--item {
  background-color: rgba(191, 223, 255, 0.0439805); }

.treediv.depth15 > .tree--item {
  background-color: rgba(191, 223, 255, 0.0351844); }

.treediv.depth16 > .tree--item {
  background-color: rgba(191, 223, 255, 0.0281475); }

.treediv.depth17 > .tree--item {
  background-color: rgba(191, 223, 255, 0.022518); }

.treediv.depth18 > .tree--item {
  background-color: rgba(191, 223, 255, 0.0180144); }

.treediv.depth19 > .tree--item {
  background-color: rgba(191, 223, 255, 0.0144115); }

.treediv.depth20 > .tree--item {
  background-color: rgba(191, 223, 255, 0.0115292); }

.tree .tree--item {
  background-color: #b3c7e6;
  margin: 0 0.4em 0 0; }

.pasteBefore {
  background-color: #fff; }

.pasteBefore.add {
  font-size: 1em; }

.pasteBefore i.add {
  display: none; }

.pasteBefore:hover i.add {
  display: inline-block; }

.pasteBefore .addform {
  display: none; }

.pasteBefore.add .addform {
  display: inline; }

.pasteBefore.add i.add {
  display: inline-block; }

.collapseExpand {
  padding: 0.6em 1em;
  float: right; }

.expanded > .tree--item > .collapseExpand > .icon-plus2 {
  display: none; }

.collapsed > .tree--item > .collapseExpand > .icon-minus {
  display: none; }

.hasKids > .tree--item > .collapseExpand > .icon-primitive-dot {
  display: none; }

.noKids > .tree--itemn > .collapseExpand > .icon-plus2 {
  display: none; }

.noKids > .tree--item > .collapseExpand > .icon-minus {
  display: none; }

.globalHistory {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #b3c7e6;
  z-index: 10; }

.globalHistory .itemvalue {
  margin-right: 0.3em; }

.historyEntry {
  display: flex; }

.historyEntry {
  flex-grow: 1; }

.tree--item:not(.edit), .pasteBefore {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.dragwrapper {
  opacity: 0.5;
  position: absolute;
  box-shadow: 3px 3px #335c99; }

.dragwrapper .collapseExpand {
  display: none; }

.draghover {
  background-color: #99aabb !important; }

/*
#tree {position: absolute; background-color: #fff; width: 100%; max-width: 30em;}
ul {margin:0;padding:0;}
li ul {padding: 0 0 0 1.2em;}
i {margin: 0 0.3em; display: inline-block; width: 1em;}
i.edit {display: none; float: right;}
i.add {display: none;}
.itemrow {background-color: #ddeeff;}
.itemrow:hover>i.edit {display: inline-block;}
.itemrow {display: block;}
.itemrow:hover {background-color: #99aabb;}
.itemrow.draghover {background-color: #99aabb !important;}
.itemrow, .itemrow>label {padding: 0.2em;}*/
