.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

h1 {
  font-family: Trebuchet MS, Serif, serif;
  font-weight: bold;
  margin: 1em 0 0.5em -0.06em;
  font-size: 2rem; }

h2 {
  font-family: Trebuchet MS, Serif, serif;
  font-weight: bold;
  margin: 1em 0 0.5em -0.06em;
  font-size: 1.5rem; }

h3 {
  font-family: Trebuchet MS, Serif, serif;
  font-weight: bold;
  margin: 1em 0 0.5em -0.06em;
  font-size: 1.17rem; }

h4 {
  font-family: Trebuchet MS, Serif, serif;
  font-weight: bold;
  margin: 1em 0 0.5em -0.06em;
  font-size: 1rem; }

h5 {
  font-family: Trebuchet MS, Serif, serif;
  font-weight: bold;
  margin: 1em 0 0.5em -0.06em;
  font-size: 0.83rem; }

h6 {
  font-family: Trebuchet MS, Serif, serif;
  font-weight: bold;
  margin: 1em 0 0.5em -0.06em;
  font-size: 0.67rem; }

html {
  font-size: 12px; }

body {
  font-size: 1em; }

@media (min-width: 600px) {
  body {
    font-size: 1.1em; } }

@media (min-width: 800px) {
  body {
    font-size: 1.2em; } }

@media (min-width: 1200px) {
  body {
    font-size: 1.3em; } }

@media (min-width: 1600px) {
  body {
    font-size: 1.4em; } }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.tabContent:not(.active) {
  display: none !important; }

.tabset {
  margin: -1px -1px -1px -1px;
  padding: 1px 1px 0px 1px; }
  .tabset > nav {
    background-color: rgba(0, 0, 0, 0.1); }
    .tabset > nav > ul {
      padding: 0;
      margin: 0;
      width: 100%;
      display: table;
      /*margin: 0; width: 100%; */ }
      .tabset > nav > ul li {
        margin: 0;
        display: inline-block;
        /* non-flexbox browsers */
        text-align: center;
        font-size: 1.1em;
        float: left;
        list-style: none;
        white-space: nowrap;
        background-color: #799dd2;
        color: #000000; }
        .tabset > nav > ul li + li {
          margin-left: 0.2em; }
        .tabset > nav > ul li a {
          padding: 0.6em;
          text-decoration: none;
          float: left;
          width: 100%;
          color: #000; }
        .tabset > nav > ul li.active {
          background-color: white;
          margin-bottom: -1px;
          padding-bottom: 1px; }
        .tabset > nav > ul li:not(.active):hover {
          background-color: #b3c7e6; }
  .tabset > div > .panel {
    padding: 1%;
    overflow-x: auto; }

.tabcontent {
  padding-top: 0.4em;
  background-color: white; }

.tabContent {
  padding-top: 0.4em;
  background-color: white;
  padding-bottom: 3em; }

.arrowtabs > nav > ul {
  padding: 0;
  display: table;
  margin: 1em 0 1em 0.5em; }

.arrowtabs > nav ul:after {
  content: "";
  border-collapse: collapse; }

.arrowtabs > nav li {
  vertical-align: middle;
  float: left;
  list-style: none;
  margin: 0 .2em 0 0;
  white-space: nowrap;
  background-color: #799dd2;
  font-weight: bold;
  font-size: 1.1em; }

.arrowtabs > nav a {
  text-decoration: none;
  color: #060b13; }

.arrowtabs > nav li.active {
  background-color: #4073bf; }

.arrowtabs > nav li.active a {
  color: #060b13; }

.arrowtabs > nav li:not(.active):hover {
  background-color: #4073bf; }

.arrowtabs > nav a {
  padding: 0.1em 0.1em 0em 0.4em;
  display: inline-block;
  margin: 0;
  /* font-size: 1em; */
  vertical-align: middle; }

.arrowtabs > nav li:before,
.arrowtabs > nav li:after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle; }

.arrowtabs > nav li:before {
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid white; }

.arrowtabs > nav li:after {
  border-top: 1em solid white;
  border-bottom: 1em solid white;
  border-left: 1em solid transparent; }

.simplepainter {
  position: relative; }

.simplepainter__canvas {
  position: absolute;
  width: inherit;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100; }

.simplepainter__svgcontainer {
  position: absolute;
  width: inherit;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200; }

.simplepainter__menu {
  display: inline-block;
  position: absolute;
  right: -1em;
  top: 0em; }

.toggleContent.off > .ifOn {
  display: none; }

.toggleContent.on > .ifOff {
  display: none; }

.log {
  position: fixed;
  top: 1em;
  right: 1em; }

a {
  text-decoration: none;
  color: inherit; }

:focus {
  outline: #799dd2 2px solid; }

html, button, select {
  line-height: 1.4;
  font-family: Open Sans, Helvetica, Helvetica Neue, Arial; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

.test {
  background-color: #799dd2;
  height: 3em; }

.header-container {
  background-color: #060b13;
  border-bottom: 0.2em solid #799dd2;
  color: white; }
  .header-container .title {
    display: inline-block;
    margin: 1em 0em;
    color: white; }
  .header-container .right {
    display: inline-block;
    width: 1.5em;
    margin: 1em 0.5em;
    float: right; }

.template {
  display: none; }

/*
 ==============
    MOBILE: Menu
   ============== 

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

 ==============
    MOBILE: Main
   ============== 

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

 ===============
    ALL: IE Fixes
   =============== 

.ie7 .title {
    padding-top: 20px;
}

 ==========================================================================
   Author's custom styles
   ========================================================================== 















 ==========================================================================
   Media Queries
   ========================================================================== 

@media only screen and (min-width: 480px) {

 ====================
    INTERMEDIATE: Menu
   ==================== 

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

 ========================
    INTERMEDIATE: IE Fixes
   ======================== 

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

 ====================
    WIDE: CSS3 Effects
   ==================== 

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

 ============
    WIDE: Menu
   ============ 

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

 ============
    WIDE: Main
   ============ 

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

 ===============
    Maximal Width
   =============== 

    .wrapper {
        width: 1026px;  1140px - 10% for margins 
        margin: 0 auto;
    }
}

 ==========================================================================
   Helper classes
   ========================================================================== 

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix {

}

 ==========================================================================
   Print styles
   ========================================================================== 

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}*/
