.simplepainter {position: relative;}
.simplepainter__canvas {position: absolute; width: inherit; height: 100%; top: 0; left: 0; z-index: 100}
.simplepainter__svgcontainer {position: absolute; width: inherit; height: 100%; top: 0; left: 0; z-index: 200}

.simplepainter__menu {display: inline-block; width: 100%; position: absolute; bottom: -5vh; left: 0; z-index: 300; background-color: rgba(200,200,200,0.2);}
.simplepainter__menu div {display: inline-block;}
.opt_color {width: 4em;}
.opt_thickness {width: 2em;}
.toggler {font-size:2em;}
.toggleContent {cursor: pointer;}
.toggleContent.off>.ifOn {display:none;}
.toggleContent.on>.ifOff {display:none;}
.simplepainter__menu--color {margin: 1px; display: inline-block; width: 1em; height: 1em; right:0;}
.simplepainter__menu--color.active {outline: 1px solid black;}
.simplepainter__menu--thickness.active {outline: 1px solid black;}