body {margin:0; padding:0; overflow: hidden; height: 100vh; background-color: #000;}

.menu {position: absolute; display:inline-block; color: white; right: 0; font-size:20px; margin:1em;}

input {display: inline-block; font-size:inherit; color: inherit; padding: 0; margin: 0; border: none; width: 2em; background-color: #333;}

