html {
  font-size: 12px; }

.plan {
  background-color: #e2e9f3; }

.item {
  background-color: #b8c8e0;
  font-size: 0.8em;
  padding: 0.2em; }

.itemrow {
  display: inline-block;
  width: calc(100% - 2.7em); }

.editform__valueDescriber {
  background: none;
  border: none; }

.editform__valueDescriber.Geschoss {
  flex-grow: initial;
  width: 10%; }

.editform__valueDescriber.Raum {
  flex-grow: initial;
  width: 10%; }

.editform__valueDescriber.Bezeichnung {
  flex-grow: initial;
  width: 28%; }

.editform__valueDescriber.Position {
  flex-grow: initial;
  width: 10%; }

.editform__valueDescriber.Bemerkungen {
  flex-grow: initial;
  width: 28%; }

.editform__valueDescriber.Status {
  flex-grow: initial;
  width: 10%; }

.editform__valueDescriber.Comment {
  flex-grow: initial;
  width: 100%; }

.activeItemView .item {
  display: block; }

.activeItemView .editItemForm {
  display: block; }

.activeItemView .editform__valueDescriber {
  display: block;
  width: 100%;
  margin: 0.5em 0em; }

.activeItemView .Raum {
  font-weight: bold; }

.coloroption {
  width: 2em;
  display: inline-block;
  margin-right: 0.5em; }

.coloroption.chosencolor {
  box-shadow: 0 0 4px #047; }

.addmode {
  background-color: #000;
  color: white; }

.item.active {
  box-shadow: 0px 0px 20px #0f1724;
  z-index: 1;
  position: relative; }

svg .item.active {
  animation: pulse 0.6s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes pulse {
  to {
    opacity: 0.4; } }

[contenteditable]:empty {
  height: 1.3em;
  display: inline-block; }

[contenteditable]:empty:before {
  content: '...';
  opacity: 0.3; }
