<div class='log' data-time=2018061121274904>2018-06-11 21:27:49.04 - Restarter Control Server running on port 9100... (log in restarterkit.js:55)</div>
<div class='log' data-time=2018061121274928>2018-06-11 21:27:49.28 - Logs Server running on port 9700... (log in logserver.js:32)</div>
<div class='log' data-time=2018061121274928>2018-06-11 21:27:49.28 - API-Server is on port 9070 (log in apiserver.js:17)</div>
<div class='log' data-time=2018061121274938>2018-06-11 21:27:49.38 - Socket server listening on port 9060 (log in socketserver.js:74)</div>
<div class='log' data-time=2018061121274949>2018-06-11 21:27:49.49 - Dev Server listening on port 9020 (log in devserver.js:31)</div>
<div class='log' data-time=2018061121274950>2018-06-11 21:27:49.50 - Experiments Server on port 9004 (log in experimentsserver.js:30)</div>
<div class='log' data-time=2018061121274960>2018-06-11 21:27:49.60 - Auth Server listening on port 9040 (log in loginserver.js:115)</div>
<div class='log' data-time=2018061121275134>2018-06-11 21:27:51.34 - Nodeproxy on port 9123... (2s after other servers?) (log in nodeproxy.js:76)</div>
<div class='log' data-time=2018061121275336>2018-06-11 21:27:53.36 - Localproxy on ports 80/443... (1s after nodeproxy?) (log in localproxy.js:21)</div>
<div class='warn' data-time=2018061121275929>2018-06-11 21:27:59.29 - getaddrinfo ENOTFOUND logs.localhost.tv logs.localhost.tv:9123 (warn in localproxy.js:9)</div>
<div class='warn' data-time=2018061121275929>2018-06-11 21:27:59.29 - getaddrinfo ENOTFOUND control.localhost.tv control.localhost.tv:9123 (warn in localproxy.js:9)</div>
